#nav {
    overflow: hidden;
    display: flex;
    flex-direction: row;

}

#nav li {
    float: left;

}

#nav li a,button {
    display: block;
    text-align: center;
    padding: 14px 16px;
}

#main {
    display: flex;
    justify-content: center;
}

button{
    background: none;
    border: none;
}
